<div class='container'>
  <!-- Content here -->
  {{#if displayTitle}}
    <h1>{{title}}</h1>
  {{else}}
    <h1>List users</h1>
  {{/if}}

  <!-- Table -->
  <div class='row'>
    <div class='col'>Name</div>
    <div class='col'>Adress</div>
    <div class='col'>Link</div>
  </div>
  {{#each users}}
    <div class='row'>

      <div class='col'>
        {{fullName}}
      </div>
      <div class='col'>
        {{fullAddress}}
      </div>
      <div class='col'>
        <a href='http://{{website}}' target='_blank'>{{website}}</a>
      </div>
    </div>
  {{/each}}

</div>